
#Ignore files

.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/app.iml
!.idea
.idea/*
!.idea/copyright
/app/.idea

*.apk
*.ap_
*.aab

*.dex
*.class
bin/
gen/
.gradle/
build/
proguard/
proguard-project.txt
.project
.classpath
.settings/
*.iml
.idea
